.list {
  width: 282px;
  min-width: 282px;
  height: fit-content;
  max-height: 538px;
  scroll-behavior: smooth;
  background: #ebecf0;
  padding: 12px 0 15px 12px;
  border-radius: 18px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.listWrapper {
  overflow-y: auto;
  max-height: 500px;
  padding: 10px;
}

.listWrapper::-webkit-scrollbar {
  width: 12px;
}

.listWrapper::-webkit-scrollbar-track {
  background: #fff;
  scrollbar-gutter: stable both-edges;
  border-radius: 5px;
}

.listWrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #cbcbcb;
}

.listTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
}

.task {
  background: #ffffff;
  color: #000000;
  margin: 7px 0;
  padding: 8px;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.task:hover {
  text-decoration: underline;
}

.taskLink {
  text-decoration: none;
}

.addButton {
  background: none;
  border: none;
  appearance: none;
  font-size: 15px;
  color: #737373;
  margin-top: 15px;
  cursor: pointer;
}

.addButton:disabled {
  color: #a57676;
  cursor: none;
}
.addButton:hover {
  color: #000;
}

.addButton:hover:disabled {
  color: #a57676;
}

.selectTask {
  background: #ffffff;
  color: #000000;
  margin: 7px 0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  overflow: hidden;
}

.optionTask {
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.buttonClose {
  background: none;
  border: none;
  appearance: none;
  padding: auto;
  cursor: pointer;
  padding-bottom: 25px;
}



@media (max-width: 1147px) {
  .list {
    margin-bottom: 10px;
    height: 100%;
    min-height: 248px;
    max-height: 250px;
    min-width: 90%;
    max-width: 100%;
    overflow: scroll;
  }

  .listWrapper {
    height: 100%;
    box-sizing: border-box;
  }

  .selectTask {
    width: 234px;
  }
}

@media (max-width: 540px) {
  .list {
    margin-bottom: 10px;
    height: 100%;
    min-height: 248px;
    max-height: 249px;
    overflow: scroll;
  }

  .listWrapper {
    height: 100%;
    box-sizing: border-box;
  }

  .selectTask {
    width: 234px;
  }
}
