.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

@media (max-width: 1147px) {
  body {
    max-width: 1147px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    max-width: 540px;
  }
}