.form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background: #ebecf0;
  border-radius: 10px;
}

.input:focus {
  text-decoration: underline;
}

.input {
  display: block;
  border: 1px solid #465671;
  border-radius: 8px;
  margin-bottom: 7px;
  padding: 8px;
  outline: none;
}

.textarea {
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  overflow: hidden;
  border: 1px solid #465671;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 7px;
  outline: none;
}

.submit {
  background-color: #0079bf;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  align-self: flex-start;
  width: 102px;
}

.submit:hover {
  background-color: #5d7194;
}

.delete-btn {
  position: absolute;
  margin-left: 110px;
  margin-top: -40px;
  background-color: #0079bf;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}